body{
  background-color: #333;
}

.todolist{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}


h1{
  font-size: 4rem;
}


button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}


.addButton{
  background-color: green;
}

.addbutton:hover{
  background-color: greenyellow;
}

.deleteButton{
  background-color: black;
}

.deleteButton:hover{
  background-color: red;
}
.editButton{
  background-color: red;
  font-size: 1.4rem;
  margin: 10px;
}
.moveButton{
  background-color: red;
}

.moveButton:hover{
  background-color: rebeccapurple;
}

.clearButton{
  background-color: red;
}
.completeButton{
  background-color: #333;
  font-size: 1.4rem;
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  color: gray;
}

ol{
  padding: 0;
}

li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: antiquewhite;
  margin-bottom: 10px;
  border:3px solid aliceblue;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text{
  flex: 1;
}

.deleteButton, .moveButton{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;

}